<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">false</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://127.4.242.2:5432/nimblarapi</property> 
			<property name="hibernate.connection.username">adminqkk14nq</property> <property 
			name="hibernate.connection.password">zqcdcr7Kri_n</property> -->
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/nw_orm</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">openMinds</property>
		<mapping class="nw.orm.examples.model.Person" />
		<mapping class="nw.orm.entity.geo.Country" />
		<mapping class="nw.orm.entity.geo.Region" />
		<mapping class="nw.orm.entity.geo.City" />
	</session-factory>
</hibernate-configuration>
